<p id="notice"><%= notice %></p>
<h1>タスク一覧</h1>

<table>
  <thead>
    <tr>
      <th><%= t(".name") %></th>
      <th><%= t(".detail") %></th>
      <th><%= t(".priority") %></th>
      <th><%= t(".status") %></th>
      <th><%= t(".due") %></th>
      <th colspan= "3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.detail %></td>
        <td><%= task.priority%></td>
        <td><%= task.status%></td>
        <td><%= task.due%></td>
        <td><%= link_to t(".show"),task %></td>
        <td><%= link_to t(".edit"),edit_task_path(task) %></td>
        <td><%= link_to t(".destroy"),task,method: :delete, data:{ confirm: t(".confirm") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t(".newtask"), new_task_path %>
