<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(".name") %></strong>
  <%= @task.name %>
</p>

<p>
  <strong><%= t(".detail") %></strong>
  <%= @task.detail %>
</p>

<p>
  <strong><%= t(".priority") %></strong>
  <%= @task.priority %>
</p>

<p>
  <strong><%= t(".due") %></strong>
  <%= @task.due %>
</p>

<p>
  <strong><%= t(".status") %></strong>
  <%= @task.status %>
</p>

<%= link_to t(".edit"), edit_task_path(@task) %> |
<%= link_to t(".back"), tasks_path %>
