<!DOCTYPE html>
<html>
  <head>
    <title>Intern</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p>
        <% if current_user %>
          Logged in as <%= current_user.name %>
          <%= link_to "Sign Out", signed_out_path %>
          <%= link_to "Account Settings", edit_path(current_user) %>
        <% else %>
          <%= link_to "Sign up", new_user_path %> or
          <%= link_to "Sign In", sign_in_path %>
        <% end %>
      </p>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
